$primary-colour: #ba3ada;

%link-base {
    text-decoration: solid;
    font-size: 18px;
    padding: 8px 15px;
    transition: color 0.3s ease;
    margin: 0 10px;
    
}


body {
    font-family: Arial, sans-serif;
    background-color: #bbb8b88e;
    color: darken($primary-colour, 20%);
    text-align: center
}

nav a {
    @extend %link-base;
    color: $primary-colour;
    &:hover {
        color: darken($primary-colour ,10%);
    }
}

nav .link_style1 {
    @extend %link-base;
    color: $primary-colour;
    &:hover {
        color: darken($primary-colour ,40%);
    }
}

nav .link_style2 {
    @extend %link-base;
    color: #6f5fff;
    &:hover {
        color: darken(#12634477 ,10%);
    }
}

h1 {
    color: #3498db;
    text-transform: uppercase;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    color: #00ffffb9;
}

.list-group-item {
    background-color: #f9f9f9;
    border: 1px solid #07070700;
    &:hover {
        background-color: #e8f5e9;
    }
}

table {
    th, td {
        text-align: center;
        vertical-align: middle;
    }

    img {
        border-radius: 10px;
    }

    tbody tr:hover {
        background-color: #f2f2f2;
    }
}

#home-title {
    color: #ff00d4;
    text-align: center;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
        background-color: #69696969; 
    }

    nav {
        flex-direction: column; 
        text-align: center; 
    }

    nav a {
        margin: 10px 0; 
    }

    .container {
        padding: 15px; 
    }

    .table {
        font-size: 14px; 
    }

    h1 {
        font-size: 1.5em; 
    }

    .row {
        flex-direction: column;
    }
}


p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

h1::before {
    content: "🚀 ";
    color: gold;
    font-size: 1.2em;
}

.colour-mode * {
    color: #000;
    font-weight: bolder;              
}

.colour-mode h1::before {
    content: "🛸 "; 
    color: blue;
}



